.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: #fff;
}

.dialogsItems a {
    text-decoration: none;
}

.dialogsItems a.active {
    color: #e9bf21;

}

.messages {
    padding: 10px;
    color: #fff;
    /* margin-left: 50px;*/

}

.messages .message {

}

.button {
    width: 60px;
    margin-top: 30px;
}

.textarea {
    margin-left: 100px;
    margin-top: 30px;
}